<div class="col-md-3">
    <button type="submit" class="btn btn-primary w-100 mb-2">
        <i class="bi bi-search"></i> Знайти
    </button>
    <a href="@Url.Action("Index")" class="btn btn-secondary w-100">Скинути</a>
</div>