@{
    ViewData["Title"] = "Home Page";
}
<h1>@ViewData["Title"]</h1>

<p>Головна</p>

<div class="text-center">
    <h1 class="display-4">Вітаємо у застосунку БД "Школа мистецтв"</h1>
    <p>Цей застосунок розроблено з межах куросової роботи для взаємодії звичайних працівників мистецьких шкіл із даними у доступному вигляді.</p>
</div>
