@model School_of_arts.Models.Discipline

@{
    ViewData["Title"] = "Delete";
}

<h1>Видалити</h1>

<h3>Чи справді ви хочете це видалити?</h3>
<div>
    <h4>Дисципліна</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubjectName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TermOfStudy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TermOfStudy)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DisciplineId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Повернутись до списку</a>
    </form>
</div>
