@model School_of_arts.Models.Discipline

@{
    ViewData["Title"] = "Details";
}

<h1>Подробиці</h1>

<div>
    <h4>Дисципліна</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubjectName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TermOfStudy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TermOfStudy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DisciplineId">Edit</a> |
    <a asp-action="Index">Повернутись до списку</a>
</div>
